POSTGRES_DB=lista_espera_db
POSTGRES_USER=rednorte
POSTGRES_PASSWORD=change_me_dev_only

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-lista-espera:5432/lista_espera_db
SPRING_DATASOURCE_USERNAME=rednorte
SPRING_DATASOURCE_PASSWORD=change_me_dev_only

SERVER_PORT=8081
JAVA_OPTS=-XX:MaxRAMPercentage=75.0
