SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=tu-correo@gmail.com
SPRING_MAIL_PASSWORD=tu-app-password-de-google
SPRING_MAIL_SMTP_AUTH=true
SPRING_MAIL_SMTP_STARTTLS_ENABLE=true
NOTIFICACIONES_EMAIL_ENABLED=true
NOTIFICACIONES_EMAIL_FROM=tu-correo@gmail.com
